/*----- Prendas ----- *\
/* Descripción: Estilos para el contenedor de prendas asi como el estilo de cada una y su contenido (precio, imagen, etc)
 * Estructura: 
 *     - Prendas estilos generales
 *     - Contenedor de todas las orendas
 *     - Prenda
 *     - Prenda en la wishlist 
 *     - Texto de la prenda
 *     - Nombre de la prenda
 *     - Icono de la prenda
 *     - Icono de la prenda en la wishlist
 *     - Iconos en general
 *     - Precio
 *     - Precio antiguo
 *     - Precio último
 *     - Precio actual
 */

.Prendas {
    padding: 0 10%;
}

.Prendas-container {
    /* movil */
        width: 100%;
        transition: all .5s ease;

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;

    /* tablet */
        @media screen and (min-width: 640px) { 
            grid-template-columns: repeat(2, 1fr);
        }

    /* desktop */
        @media screen and (min-width: 1440px) {
            grid-template-columns: repeat(4, 1fr);
        }
}

.Prenda{
    /* movil */
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 10%;
    
    /* tablet */
        @media screen and (min-width: 640px) { 
            margin-bottom: 15%;
        }

    /* desktop */
        @media screen and (min-width: 1440px) {
            margin-bottom: 20%;
        }
}

.Prenda-wishlist{
    position: relative;
}

.Prenda-text{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.Prenda-name{
    /* movil */
        font-size: 0.625rem;
    
    /* tablet */
        @media screen and (min-width: 640px) { 
            font-size: 0.75rem;
        }

    /* desktop */
        @media screen and (min-width: 1440px) {
            font-size: 0.8125rem;
        }
}

.Prenda-icon{
    /* movil */
        width: 1rem;
    
    /* tablet */
        @media screen and (min-width: 640px) { 
            width: 1.0625rem;
        }

    /* desktop */
        @media screen and (min-width: 1440px) {
            width: 1.125rem;
        }
}

.Prenda-icon-wishlist{
    /* movil */
        border: 0.0625rem solid var(--color-opacity);
        background-color: var(--color-opacity);
        padding: 0.1875rem;
        border-radius: 50%;
        width: 1.125rem;
        height: 1.125rem;
    
    /* tablet */
        @media screen and (min-width: 640px) { 
            width: 1.25rem;
            height: 1.25rem;
        }

    /* desktop */
        @media screen and (min-width: 1440px) {
            width: 1.5rem;
            height: 1.5rem;
        }
}

.Prenda-icons{
    display: flex;
    justify-content: end;
    gap: 0.625rem;
}

.Prenda-price{
    /* movil */
        display: flex;
        flex-direction: row;
        font-size: 0.5625rem;
        align-items: center;
        justify-content: start;
        gap: 1rem;
    
    /* tablet */
        @media screen and (min-width: 640px) { 
            font-size: 0.625rem;
        }

    /* desktop */
        @media screen and (min-width: 1440px) {
            font-size: 0.6875rem;
        }
}

.Prenda-price-old{
    color: var(--color-opacity);
    text-decoration: line-through;
}

.Prenda-price-last{
    text-decoration: line-through;
}

.Prenda-price-now{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0 0.25rem;
    background-color: var(--terciary-color);
    font-weight: var(--font-medium);
}

/* ------ Prendas ----- */