.Prendas {
    /* z-index: -20;
    position: absolute; */
    /* overflow: hidden; */
    padding: 0 10%;
}

.Prendas-container {
    width: 100%;
    /* background-color: red; */
    transition: all .5s ease;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

}

.Prenda{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 20%;
}

.Prenda-img{
    /* min-height: 8rem;  */
}

.Prenda-info{

}

.Prenda-text{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

}

.Prenda-name{
    font-size: 13px;

}

.Prenda-icon{
    width: 18px;

}

.Prenda-price{
    display: flex;
    flex-direction: row;
    font-size: 11px;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.Prenda-price-old{
    color: var(--color-opacity);
    text-decoration: line-through;
}

.Prenda-price-last{
    text-decoration: line-through;

}

.Prenda-price-now{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0 4px;
    background-color: var(--terciary-color);
    font-weight: var(--font-medium);
}