/*----- Rebajas ----- *\
/* Descripción: Estilos para el boton de rebajas
 * Estructura: 
 *     - Estilos de boton
 *     - Hover del botón
 */

.Rebajas-button {
    /* movil */
        padding: 0.5rem 1rem;
        position: fixed;
        top: 35%;
        margin: 0;
        left: 40%;
        border: 0.0625rem solid var(--primary-color);
        font-size: 0.625rem;
        background-color: var(--terciary-color);
        transition: all 0.2s linear;


    /* tablet */
        @media screen and (min-width: 640px) { 
            top: 27%;
            margin: 0 11%;
            left: 0;
            font-size: 0.75rem;
        }

    /* desktop */
        @media screen and (min-width: 1440px) {
            top: 27%;
            margin: 0 11%;
            left: 0;
            font-size: 0.9375rem;
        }
}

.Rebajas-button:hover {
    color: var(--hover-color);
}

/* ------ Rebajas ----- */