.Rebajas-button{
    padding: 8px 16px;
    position: absolute;
    top: 27%;
    margin: 0 11%;
    border: 1px solid var(--primary-color);
    font-size: 13px;
    background-color: var(--terciary-color);
    /* z-index: 210; */
    transition: all 0.2s linear ;
}

.Rebajas-button:hover{
    color: var(--hover-color);
}