.Rebajas-button {
    /* movil */
    padding: 8px 16px;
    position: fixed;
    top: 37%;
    margin: 0;
    left: 39%;
    border: 1px solid var(--primary-color);
    font-size: 10px;
    background-color: var(--terciary-color);
    /* z-index: 210; */
    transition: all 0.2s linear;


    /* tablet */
    @media screen and (min-width: 640px) { 
        top: 27%;
        margin: 0 11%;
        left: 0;
        font-size: 12px;
        /* z-index: 210; */
    }

    /* desktop */
    @media screen and (min-width: 1440px) {
        top: 27%;
        margin: 0 11%;
        left: 0;
        border: 1px solid var(--primary-color);
        font-size: 15px;
        /* z-index: 210; */
    }
}

.Rebajas-button:hover {
    color: var(--hover-color);
}